.venv/
venv/
myenv/
.env/
*api_keys/
cache/
parquets/
backup/
results/
__pycache__/
*.lock
wandb/
mistral_api_key.txt
src/eval/test-00000-of-00001.parquet
LeCarnet-3M/
LeCarnet-8M/
LeCarnet-21M/
LeCarnet-custom/
stories/
dataset/